/*  --- HEADER Start ---  */

.header {
    background-color: #fdf2e9;
    height: 9.6rem;
    padding: 0 4.8rem;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img{
    height: 2.2rem;
}

.nav-bar .nav {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 3.2rem;
    font-size: 1.8rem;
    font-weight: 500;
} 

.menu:link, 
.menu:visited {
    text-decoration: none;
    color: #333;
    transition: all 0.3s;
}

.menu:hover, 
.menu:active {
    text-decoration: none;
    color: #cf711f;
} 

.menu.nav-btn:link,
.menu.nav-btn:visited {
  padding: 1.2rem 2.4rem;
  border-radius: 8px;
  color: #fff;
  background-color: #e67e22;
}

.menu.nav-btn:hover,
.menu.nav-btn:active {
  background-color: #cf711f;
}

/*  --- HEADER End ---  */


/*  --- HERO Start ---  */

.hero-section {
    background-color: #fdf2e9;
    padding: 4.8rem 0 9.6rem 0;
}

.hero {
    max-width: 130rem;
    margin: 0 auto;
    padding: 0 3.2rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 9.6rem;
    align-items: center;
}

.hero-description.primary-header {
    margin-bottom: 3.2rem;
}

.hero-header-description {
    font-size: 2rem;
    line-height: 1.6;
    letter-spacing: 1.3px;
    margin-bottom: 4.8rem;
    font-weight: 400;
}


.hero-image img {
    max-width: 100%;
}

.customers {
    display: flex;
    align-items: center;
    gap: 1.6rem;
}

.customer-img img {
    height: 4.8rem;
    width: 4.8rem;
    border-radius: 50%;
    margin-right: -1.6rem;
    border: 3px solid #fdf2e9;
}

.customer-img img:last-child {
    margin-right: 0px;
}

.customer-desc {
    font-size: 1.8rem;
    font-weight: 600;
}

.delivered-meal {
    color: #cf711f;
}

/*  --- HERO End ---  */


/* --- Steps Start --- */

.steps {
    padding: 0 4.8rem;
}

.steps-header {
    padding: 9.6rem 0 6.4rem 0;
}

.step-header-description {
    font-size: 1.6rem;
    font-weight: 600;
    text-transform: uppercase;
    color: #cf711f;
}

.steps-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    row-gap: 6.4rem;
    column-gap: 4.8rem;
}

.steps-content img {
    width: 35%;
}

.step-no {
    font-size: 6.2rem;
    font-weight: 700;
    color: #ddd;
    margin-bottom: 2.4rem;
}

.step-title {
    margin-bottom: 3.2rem;
}

.step-description {
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 1.05;
}

.step-img {
    display: flex;
    justify-content: center;
}

 /*.step-img::before {
    content: "";
    display: block;
    width: 60%;
    padding-bottom: 60%;
    background-color: #fdf2e9;

} */

/* --- Steps End --- */