/*  --- HEADER Start ---  */

.header {
    background-color: #fdf2e9;
    height: 9.6rem;
    padding: 0 4.8rem;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img{
    height: 2.2rem;
}

.nav-bar .nav {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 3.2rem;
    font-size: 1.8rem;
    font-weight: 500;
} 

.menu:link, 
.menu:visited {
    text-decoration: none;
    color: #333;
    transition: all 0.3s;
}

.menu:hover, 
.menu:active {
    text-decoration: none;
    color: #cf711f;
} 

.menu.nav-btn:link,
.menu.nav-btn:visited {
  padding: 1.2rem 2.4rem;
  border-radius: 8px;
  color: #fff;
  background-color: #e67e22;
}

.menu.nav-btn:hover,
.menu.nav-btn:active {
  background-color: #cf711f;
}

/*  --- HEADER End ---  */


/*  --- HERO Start ---  */

.hero-section {
    background-color: #fdf2e9;
    padding: 4.8rem 0 9.6rem 0;
}

.hero {
    max-width: 130rem;
    margin: 0 auto;
    padding: 0 3.2rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 9.6rem;
    align-items: center;
}

.hero-description.primary-header {
    margin-bottom: 3.2rem;
}

.hero-header-description {
    font-size: 2rem;
    line-height: 1.6;
    letter-spacing: 1.3px;
    margin-bottom: 4.8rem;
    font-weight: 400;
}


.hero-image img {
    max-width: 100%;
}

.customers {
    display: flex;
    align-items: center;
    gap: 1.6rem;
}

.customer-img img {
    height: 4.8rem;
    width: 4.8rem;
    border-radius: 50%;
    margin-right: -1.6rem;
    border: 3px solid #fdf2e9;
}

.customer-img img:last-child {
    margin-right: 0px;
}

.customer-desc {
    font-size: 1.8rem;
    font-weight: 600;
}

.delivered-meal {
    color: #cf711f;
}

/*  --- HERO End ---  */


/* --- Steps Start --- */

.steps {
    padding: 0 4.8rem;
}

.steps-header {
    padding: 9.6rem 0 6.4rem 0;
}

.step-header-description {
    font-size: 1.6rem;
    font-weight: 600;
    text-transform: uppercase;
    color: #cf711f;
}

.steps-content img {
    width: 35%;
}

.step-no {
    font-size: 8.6rem;
    font-weight: 600;
    color: #ddd;
    margin-bottom: 1.2rem;
}

.step-title {
    margin-bottom: 3.2rem;
}

.step-description {
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 1.05;
}

.step-img {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

 .step-img::before,
 .step-img::after {
    content: "";
    display: block;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 50%;
} 

.step-img::before {
    width: 60%;
    padding-bottom: 60%;
    background-color: #fdf2e9;
    z-index: -2;
}

.step-img::after {
    width: 50%;
    padding-bottom: 50%;
    background-color: #fae5d3;
    z-index: -1;
}

/* --- Steps End --- */



/* --- Feature-In Start --- */

.feature-in-header {
    text-align: center;
}

.feature-in-header .step-header-description {
    display: block;
    color: #888;
    margin-bottom: 2.4rem;
}

.feature-in-images {
    display: flex;
    justify-content: space-around;
}

.fi-image {
    height: 3.2rem;
    filter:brightness(0);
    opacity: 50%;
}

/* --- Feature-In End --- */



/* --- Testimonials Start --- */

.testimonials-grid {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    justify-items: center;
    row-gap: 4.8rem;
    column-gap: 3.2rem;
}

.testimonials-gallery {
    background-color: #fdf2e9;
}

.testimonials-header {
    padding-bottom: 3.2rem;
}

.testimonials-body figure {
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
}

.author-img img {
    max-width: 20%;
    border-radius: 50%;
}

.author-testimonial {
    font-size: 1.8rem;
    line-height: 1.5;
    letter-spacing: 1.2;
}

.author-info {
    font-size: 1.4rem;
    color: #999;
}

/* --- Gallery --- */

.galley {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    row-gap: 3.2rem;
    column-gap: 2.4rem;
}

.container-img {
    overflow: hidden;
}

.gallery img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    transition: all 0.3s;
}

.container-img img:hover {
    transform: scale(1.05);
}

/* --- Testimonials End --- */


/* --- Meals Start --- */

.meals-header {
    text-align: center;
    margin-bottom: 8rem;
}

.meals-body {
    margin-bottom: 8rem;
}

.meals-recipie {
    border-radius: 8px;
    overflow: hidden;
    max-width: 70%;
    box-shadow: 0 0 3px rgb(51 51 51 / 30%);

    transform: all 0.4s;
    transition-timing-function: ease;
}

.meals-recipie:hover {
    transform: translateY(-2rem);
}

.meals-recepie.first {
    justify-self: end;
}

.meals-recepies {
    display: inline-block;
    font-size: 1.6rem;
    color: #e67e22;
    letter-spacing: 1.05px;
    text-decoration: none;
    border-bottom: 1px solid currentColor;
    font-weight: 500;
    padding: 0.4rem;
}

.meals-recepies:hover {
    border: none;
    border-bottom: 1px solid transparent;
}

.meals-header span {
    display: block;
    margin-bottom: 1.6rem;
    text-decoration: none;
}

.lables {
    display: flex;
    gap: 0.4rem;
    margin-bottom: 1.6rem;
}

.lables span {
    display: inline-block;
    font-size: 0.8rem;
    font-weight: 500;
    padding: 0.4rem 0.8rem;
    border-radius: 5rem;
    color: #333;
}

.vegetarian {
    background-color: #51cf66;
}

.vegan {
    background-color: #94d82d;
}

.paleo {
    background-color: #ffd43b;
}

.meals-content {
    padding: 1.6rem 1.2rem;
}

.meals-content .ternary-header {
    font-size: 1.8rem;
    margin-bottom: 1.8rem;
}

.meals-img img {
    width: 100%;
}

.meal-details {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
}

.meal-details p,
.meals-diet p {
    font-size: 1.8rem;

    display: flex;
    gap: 1rem;
}

.meals-diet div {
    font-size: 1.8rem;

    display: flex;
    flex-direction: column;
    gap: 1.6rem;
}

p ion-icon {
    color: #cf711f;
}

.meals-footer {
    text-align: center;
}

/* --- Meals End --- */



/* --- Pricing & Features Start --- */

/* --- Pricing Start --- */

.pricing-features {
    padding: 0 4.8rem;
}

.pricing-header .step-header-description {
    display: block;
    font-size: 1.6rem;
    font-weight: 500;
    color: #cf711f;
    text-transform: uppercase;
    margin-bottom: 1.6rem;
    letter-spacing: 0.75px;
}

.pricing-header .secondary-header {
    font-size: 4.4rem;
    line-height: 1.2;
    margin-bottom: 9.6rem;
    font-weight: 700;
    color: #333;
    letter-spacing: -0.5px;
}

.pricing-card {
    border: 2px solid #fdf2e9;
    border-radius: 8px;
    padding: 4.6rem;
    position: relative;
}

.pricing-card:last-child {
    background-color: #fdf2e9;
    overflow: hidden;
}

.pricing-card:last-child::after {
    content: "BEST VALUE";
    display: inline-block;
    width: 150px;
    position: absolute;
    top: 3rem;
    right: -4rem;
    padding: 0.8rem 1.2rem;
    text-align: center;
    font-size: 1.4rem;
    font-weight: 700;
    background-color: #fcc419;
    color: #333;
    transform: rotate(45deg);
}

.pricing-body {
    display: flex;
    justify-content: center;
    gap: 6.4rem;
}

.pricing-card-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.8rem;
    font-size: 1.2rem;
    margin-bottom: 3.2rem;
    letter-spacing: 0.9px;
}

.pricing-card-body ion-icon {
    width: 3rem;
    height: 3rem;
    color: #e67e22;
}

.pricing-card-body {
    font-size: 1.2rem;
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    margin-bottom: 4.8rem;
}

.pricing-card-body p {
    display: flex;
    align-items: center;
    gap: 1.6rem;
    font-size: 1.8rem;
}

.pricing-card-header .step-header-description {
    color: #cf711f;
    font-weight: 600;
    font-size: 2rem;
    text-transform: uppercase;
    margin-bottom: 2.4rem;
}

.pricing-card-header .price-text {
    font-size: 1.6rem;
    line-height: 1.6;
    color: #6f6f6f;
}

.pricing-card .price .step-header-description {
    font-weight: 500;
    font-size: 1.84rem;
    letter-spacing: 1px;
    margin-bottom: 0.8rem;
}

.pricing-card .price {
    font-size: 6.2rem;
    font-weight: 600;
    color: #333;
    margin-bottom: 1.6rem;
}

.price span {
    font-size: 1.6rem;
    font-weight: 500;
}

.pricing-card-footer {
    display: flex;
    justify-content: center;
}

.pricing-footer {
    display: flex;
    justify-content: center;
    margin: 4.8rem 0rem 6.4rem 0rem;
}

.pricing-footer p {
    font-size: 1.6rem;
    line-height: 1.6;
    text-align: center;
}
/* --- Pricing End --- */

/* --- Features Start --- */

.features {
    display: flex;
    gap: 3.2rem;
    padding: 4.8rem;
}

.features ion-icon {
    color: #e67e22;
    height: 3.2rem;
    width: 3.2rem;
    background-color: #fdf2e9;
    margin-bottom: 3.2rem;
    padding: 1.6rem;
    border-radius: 50%;
}

.features h3 {
    font-size: 2.4rem;
    color: #333;
    font-weight: 700;
    margin-bottom: 1.6rem;
}

.features p {
    font-size: 1.8rem;
    line-height: 1.8;
}

/* --- Features End --- */

/* --- Pricing & Features End --- */



/* --- CTA Start --- */

.cta {
    margin-bottom: 12.8rem;
    display: grid;
    grid-template-columns: 2fr 1fr;
    background-image: linear-gradient(to right bottom, #eb984e, #e67e22);
    border-radius: 10px;
    overflow: hidden;
}

.cta-form {
    padding: 4.8rem 6.4rem 6.4rem 6.4rem;
    color: #45260a;
}

.cta-form h2 {
    color: inherit;
}

.cta-text {
    font-size: 1.8rem;
    line-height: 1.8;
    margin-bottom: 4.8rem;
}

.cta-form {
    padding: 4.8rem;
}

form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 2.4rem;
    column-gap: 3.6rem;
}

form label {
    display: block;
    font-size: 1.6rem;
    font-weight: 500;
    margin-bottom: 1.2rem;
}

form input, form select {
    width: 100%;
    padding: 1.2rem;
    font-size: 1.8rem;
    font-family: inherit;
    color: inherit;
    border: none;
    background-color: #fdf2e9;
    border-radius: 9px;
    box-shadow: 0 1px 2px rgb(0 0 0 / 10%);
}

.btn-form {
    background-color: #45260a;
    color: #fdf2e9;
    align-self: end;
    padding: 1.2rem;
    border:none;
}

.btn-form:hover {
    background-color: white;
    color: #555;
}

.cta-img {
    background-image: url(../content/img/eating.jpg);
    background-size: cover;
    background-position: center;
}

/* --- CTA End --- */


/* --- Footer Start --- */

.footer {
    padding: 12.8rem 0;
    border-top: 1px solid #eee;
  }
  
.grid--footer {
    grid-template-columns: 1.5fr 1.5fr 1fr 1fr 1fr;
}
  
  .logo-col {
    display: flex;
    flex-direction: column;
  }
  
  .footer-logo {
    display: block;
    margin-bottom: 3.2rem;
  }

  .footer-logo img {
      height: 2.2rem;
  }
  
  .social-links {
    list-style: none;
    display: flex;
    gap: 2.4rem;
  }
  
  .social-icon {
    height: 2.4rem;
    width: 2.4rem;
  }
  
  .copyright {
    font-size: 1.4rem;
    line-height: 1.6;
    color: #767676;
    margin-top: auto;
  }
  
  .footer-heading {
    font-size: 1.8rem;
    font-weight: 500;
    margin-bottom: 4rem;
  }
  
  .contacts {
    font-style: normal;
    font-size: 1.6rem;
    line-height: 1.6;
  }
  
  .address {
    margin-bottom: 2.4rem;
  }
  
  .footer-nav {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
  }
  
  .footer-link:link,
  .footer-link:visited {
    text-decoration: none;
    font-size: 1.6rem;
    color: #767676;
    transition: all 0.3s;
  }
  
  .footer-link:hover,
  .footer-link:active {
    color: #555;
  }

/* --- Footer End --- */
